.main {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	padding: 0.5em;
	--s: 82px;
	--c1: #a87f3e;
	--c2: #b8a351;
	--c3: #f0ae70;

	--_g: var(--c3) 0 120deg, #0000 0;
	background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)), conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
		conic-gradient(from 60deg at calc(200% / 3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0), conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
		linear-gradient(90deg, var(--c1) calc(100% / 6), var(--c2) 0 50%, var(--c1) 0 calc(500% / 6), var(--c2) 0);
	background-size: calc(1.732 * var(--s)) var(--s);
}

.box {
	background-color: #ffffffee;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: calc(100% - 6em);
	min-height: calc(100dvh - 6em);
	margin: auto;
	padding: 1em;
	header {
		background-color: #bb5c37;
		color: #ffffff;
		font-size: 2em;
		padding: 0.1em 1em;
		width: 100%;
		text-align: center;
		@media screen and (max-width: 500px) {
			font-size: 2.5em;
			padding: 0.2em 0.3em;
		}
	}
}
.containerBox {
	display: flex;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	header {
		background-color: #7a5231;
		h2 {
			font-size: 1em;
		}
	}
	flex-wrap: wrap;
}
.playerHeader {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
.playerList {
	flex-grow: 2;
	flex-basis: 50%;
	background-color: #e2dbd6;
	display: flex;
	flex-direction: column;
    min-height: 25em;
}
.actionPanel {
	flex-grow: 1;
	flex-basis: 428px;
	background-color: #cfc9c6;
	header {
		background-color: #703e2d;
	}
	input {
		font-size: 1em;
		font-weight: 440;
		&[type="checkbox"] {
			font-size: 1.4em;
			width: 0.7em;
			height: 0.7em;
		}
		width: 4em;
	}
}
.roomOptions {
	padding: 1em;
	font-size: 1.2em;
	gap: 0.5em;
	display: flex;
	flex-direction: column;
}
.actionButton {
	background-color: #00000033;
	padding: 0.5em 0.6em;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.2s;
	width: fit-content;
	&:hover {
		background-color: #00000044;
	}
	&:active {
		background-color: #00000066;
	}
}
.player {
	background-color: #d3c7ba;
	padding: 1em;
	padding-left: 1.25em;
	border-top: 0.5em solid #c4b49f;
	min-width: 12em;
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 1.75em;
		width: 100%;
	}
	button {
		background-color: #00000022;
		font-weight: bold;
		padding: 0.3em 0.8em;
		margin-top: 0.4em;
		font-size: 1.1em;
		width: fit-content;
		transition: background-color 0.1s;
		&:hover {
			background-color: #0000003f;
		}
		&:active {
			background-color: #00000055;
		}
	}
}
.playerGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 1em;
}

.role {
	font-size: 0.9em;
	color: #000000ee;
	margin-bottom: 0.2em;
}