.main {
	--s: 100px;
	--c1: #b6d2b8;
	--c2: #7ea27c;

	--_g: var(--c1) 90deg, #0000 90.5deg;
	background: conic-gradient(from -45deg, var(--_g)), conic-gradient(from 135deg, var(--_g)) calc(var(--s) / 2) 0, var(--c2);
	background-size: var(--s) var(--s);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	background-color: #ffffffee;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: calc(100% - 6em);
	margin: auto;
	height: calc(100% - 6em);
	padding: 1em;
	h1 {
		background-color: #453483;
		color: #f3ea95;
		font-size: 4em;
		padding: 0.1em 1em;
		width: 100%;
		text-align: center;
		text-shadow: 6px 6px #00000099;
	}
}
.description {
	background-color: #f1eff5;
	font-weight: 420;
	color: #000000;
	font-size: 1.2em;
	padding: 0.5em 1em;
	width: 100%;
	text-align: center;
	line-height: 1.5em;
	.colors {
		background-image: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
		background-clip: text;
		color: #00000022;
	}
}
.cardBar {
	display: flex;
	align-items: center;
	gap: 0.2em;
	justify-content: center;
	margin-bottom: 0.2em;
}
.submit {
	display: flex;
}
.getReal {
	color: #d6daec;
	text-shadow: #000000aa -4px 4px;
	-webkit-text-stroke: #000000cc 5px;
	text-align: center;
	letter-spacing: -1px;
	line-height: 30px;
	font-size: 1.2em;
	paint-order: stroke fill;
	font-weight: 500;
	margin: 0 0.08em;
}
