.main {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	padding: 0.5em;
	--s: 200px;
	--c1: #525780;
	--c2: #294170;
	--c3: #2f244c;

	background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
		repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
	background-size: var(--s) calc(var(--s) * 0.577);
}
.box {
	background-color: #ffffffee;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: calc(100% - 6em);
	min-height: calc(100dvh - 6em);
	margin: auto;
	padding: 1em;
	header {
		background-color: #3b3169;
		color: #ffffff;
		font-size: 2em;
		padding: 0.1em 1em;
		width: 100%;
		text-align: center;
		@media screen and (max-width: 500px) {
			font-size: 2.5em;
			padding: 0.2em 0.3em;
		}
	}
}
.panel {
	display: flex;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	header {
		background-color: #555588;
		h2 {
			font-size: 1em;
		}
	}
	flex-wrap: wrap;
}
.roomList {
	flex-grow: 2;
	flex-basis: 332px;
	background-color: #d6d6e2;
	display: flex;
	flex-direction: column;
}
.noRooms {
	margin: auto;
}
.room {
    background-color: #b9c2d3;
    padding: 1em;
	padding-left: 1.25em;
    border-top: 0.5em solid #a9acc3;
	min-width: 12em;
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 1.75em;
	}
	button {
		background-color: #00000022;
		font-weight: bold;
		padding: 0.3em 0.8em;
		margin-top: 0.4em;
		font-size: 1.1em;
		width: fit-content;
		transition: background-color 0.1s;
		&:hover {
			
		background-color: #0000003f;
		}
		&:active {
			
		background-color: #00000055;
		}
	}
}
.roomGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 1em;
}
.roomStatus {
	font-size: 0.9em;
	color: #000000ee;
	margin-bottom: 0.2em;
}
.roomHeader {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
.createPanel {
	flex-grow: 1;
	flex-basis: 332px;
	background-color: #c6c6cf;
	header {
		background-color: #505057;
	}
}
.createOptions {
	
}